/* --------------------- */
/* General styling */
/* --------------------- */

* {
    font-family: "Quicksand",sans-serif;
    margin: 0;
    padding: 0px;
}
body {
    background-color: rgb(244, 244, 244);
}
a {
    text-decoration: none;
    color: black;
}
a:hover {
    color: white;
    
}
section {
    box-sizing: border-box;
    min-height: 100vh;
}

hr {
    width:80%;
    margin: 0 auto;
    color: rgb(55, 55, 55)
}
.title {
    color: white;
    text-align: center;
    font-size: 30px;    
    min-height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center
}
.title-2 {
    color:rgb(19, 19, 19);
    text-align: center;
    font-size: 30px;    
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center
}

.green-fade {
    background: -webkit-linear-gradient(#00BFA5 50%, #90ee90);
    background-image: -webkit-linear-gradient(top, rgb(0, 191, 165) 50%, rgb(144, 238, 144));
    color: #00BFA5;
    -webkit-text-fill-color: transparent; 
    -webkit-background-clip: text;
    font-weight: bold;
}

/* --------------------- */
/* Header section styling */
/* --------------------- */
.icon {
    margin-left: 10px;
    margin-right: 10px;
}

#author {
    justify-content: center;
    font-size: 60px;
    display: block;
    color: white;
    padding: 30px;
}

#header {
    display: flex;
    flex-direction: column;
    background: linear-gradient(to bottom, #00798C, #031035);
    padding: 0px;
    align-items: center;
    justify-content: center;
}

.my-links {
    width: 100%;
    position: absolute;
    top: 5px;
    left: 5px;
    margin: 5px;
    cursor: pointer;
}
.arrow-icon {
    position: relative;
    -webkit-animation: downarrow .6s infinite ease-in alternate;
    animation: downarrow .6s infinite ease-in alternate;
}
@keyframes downarrow {
    from {
        top: 0px;
    }
    to {
        top: 25px;
    }
}


/* --------------------- */
/* About Me styling */
/* --------------------- */

#about-me {
    background-color: #031035;
    padding: 50px;
    min-height: 100vh;
}
.wrapper {
    margin: 30px 10vw auto;
    display: flex;
    flex-direction: row;
    align-items: center;

}
.bio {
    max-width: 60%;
    padding: 10px;
    color: white;
    margin-left: 10%;
    line-height: 1.8rem;
    font: 30px;
}
.bio > #panel-2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
}

.arrow-icon {
 color: rgba(255, 255, 255, 0.193);

 margin: 30px;
}

.media-object {
    border-radius: 50%;
}

/* --------------------- */
/* Experience styling */
/* --------------------- */

#experience {
    display: block;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    min-height: 100vh;
} 

#resume {
    width: 65vw;
    height: 85vh;  
    overflow: scroll;
}

#resume-panel {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 60px;
}

/* --------------------- */
/* Projects styling */
/* --------------------- */

#personal-projects {
    min-height: 80vh;
}
.projects-title {
    color: rgb(15, 15, 15);
}

#projects{
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    width: 80%;
}

.project-panel {
    height: 400px;
    width: 500px;
    margin: 20px 20px 20px 20px;
    background-size: cover;
    border-width: 1px;
    border-style: solid;
    border-color: #8d8d8d;
    display: inline-block;
    background-color: rgb(235, 233, 233);
    box-shadow: 3px 3px 3px gray;
}

.project-panel:hover {
    border-color: #030303;
}

.project-image {
    width: 100%;
    height: 65%;
    overflow: hidden;
}

.project-img {
    width: 100%;
    height: 100%;
    vertical-align: middle;
}

.project-content {
    margin: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    line-height: 1.5;
}
/* .project-link {
    
} */

/* --------------------- */
/* Contact Me styling */
/* --------------------- */

/* #contact-me {
    display: block;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    min-height: 100vh;
}  */


/* --------------------- */
/* Footer styling */
/* --------------------- */
footer {
    background-color: #24292e;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 10vh;
}

#up-btn {
    margin: 10px;
    color: #00BFA5;
}

#up-btn:hover{
    color: white;
    text-decoration: none;
}

@media screen and (max-width: 1250px) {
    .media-object {
        display: none;
    }
    .bio {
        max-width: 100%;
        margin: 0 auto;
    }
    .project-panel {
        margin: 0 auto;
        height: 70%;
        width: 100%;
        margin-bottom: 50px;
        
    }
    #projects {
        display: block;
        margin-top: 10px auto;
        /* align-content: center; */
        justify-items: center;
    }

    .project-img{
        min-height: 250px;;
    }
    .wrapper{
        margin: 0 auto;
    }
    #resume{
        width: 90vw;
    }

}